/* To add the margin for the parent elements */
.stack-parent>*+* {
  margin-block-start: var(--stack-parent);
}

/* To add the margin for the child elements */
.stack-child>*+* {
  margin-block-start: var(--stack-child);
}

/* To the vertical line */
.vertical-line {
  border-block-end: 1px solid var(--white-coffee, #E3DDD7);
  padding-block-end: calc(2rem - 1px);
  /* I have the same problem here as the list elements in the section-nutrition area. 
  The border height value adds to the elements height, 
  it breaks the correct height value for the element as the design file. 
  So, I used the calc function to get the correct height value for the element. */
}